<a href="https://colab.research.google.com/github/auliaghnim/KKA-X-Semester-1-AuliaAM/blob/main/1_Fungsi_print_Aulia_X_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 nama : aulia aghni mardhatilla

 kelas : x1

 absen : 8

#menampilkan teks bebas

In [ ]:
print ("aulia aghni mardhatilla")

aulia aghni mardhatilla

#menampilkan nilai variabel

In [ ]:
nama_idola = "hanan attaki"

print (nama_idola)

hanan attaki

In [ ]:
usia = 15

print (usia)

15

In [ ]:
nama_saudara = "rahma "

print (nama_saudara)

rahma

In [ ]:
jumlah_saudara = 1

print (jumlah_saudara)

1

#menampilkan nilai variabel dan string

In [ ]:
print ("Nama idola saya adalah",nama_idola,". Usianya adalah",usia,"tahun ")

Nama idola saya adalah hanan attaki . Usianya adalah 15 tahun

In [ ]:
print ("Nama idola saya adalah "+nama_idola+". Usianya adalah "+str(usia)+"tahun")

Nama idola saya adalah hanan attaki. Usianya adalah 15tahun

In [ ]:
print (f"Nama idola saya adalah {nama_idola}. Usianya adalah {usia} tahun")

Nama idola saya adalah hanan attaki. Usianya adalah 15 tahun

#Escape character

In [ ]:
print ("Nama: Aulia Aghni Mardhatilla")
print ("Kelas: X.1")
print ("No. Absen: 8")

Nama: Aulia Aghni Mardhatilla
Kelas: X.1
No. Absen: 8

In [ ]:
print ("Nama: Aulia Aghni Mardhatilla\nKelas: X.1\nNo. Absen: 8")

Nama: Aulia Aghni Mardhatilla
Kelas: X.1
No. Absen: 8

In [ ]:
print ("""Nama\t\t: Aulia Aghni Mardhatilla
Kelas\t\t: X.1
No. Absen\t: 8""")

Nama		: Aulia Aghni Mardhatilla
Kelas		: X.1
No. Absen	: 8

In [ ]:
print ("halo nama saya Habib jafar")

halo nama saya Habib jafar

In [ ]:
print ('halo nama saya Habib jafar')

halo nama saya Habib jafar

In [ ]:
print ('halo nama saya Habib ja\'far')

halo nama saya Habib ja'far

In [ ]:
print ("halo nama saya Habib ja'far")

halo nama saya Habib ja'far

In [ ]:
print ("Bu Shinta berkata, \"tolong fokus ke TV sejenak.\"")

Bu Shinta berkata, "tolong fokus ke TV sejenak."

In [ ]:
print ('Bu Shinta berkata, "tolong fokus ke TV sejenak."')

Bu Shinta berkata, "tolong fokus ke TV sejenak."

In [ ]:
print ("Silakan simpan file tugas KKA di folder Local disk D:\\MAN Demak\\KKA\\Tugas")

Silakan simpan file tugas KKA di folder Local disk D:\MAN Demak\KKA\Tugas

In [ ]:
print ('Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\MAN Demak\\Jadwal piket."\n\nSenin\tSelasa\tRabu\nJielo\tHasbi\tNaufal\t\nAzam\tA\'inun\tNurul\t')

Bu Shinta berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\MAN Demak\Jadwal piket."

Senin	Selasa	Rabu
Jielo	Hasbi	Naufal
Azam	A'inun	Nurul

#parameter fungsi print

In [ ]:
nama_siswa_1 = "Dias"
nama_siswa_2 = "Disa"

print (nama_siswa_1, end=" ")
print (nama_siswa_2)

Dias Disa

In [ ]:
print (nama_siswa_1, nama_siswa_2)

Dias Disa

In [ ]:
print (nama_siswa_1, nama_siswa_2, sep="-")

Dias-Disa

In [ ]:
nama_siswa_3 = "Kinan"
nama_siswa_4 = "Azka"
nama_siswa_5 = "Naufal"
nama_siswa_6 = "Ridho"

print (nama_siswa_6, nama_siswa_3, nama_siswa_5, nama_siswa_4, nama_siswa_4, sep="/")

print (nama_siswa_4, end="*")
print (nama_siswa_4, end="*")
print (nama_siswa_5, end="*")
print (nama_siswa_3, end="*")
print (nama_siswa_6)

Ridho/Kinan/Naufal/Azka/Azka
Azka*Azka*Naufal*Kinan*Ridho